<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="vue.css">
    <title>Examen Segunda evaluación</title>
</head>

<body>
    <div id="app" class="container">
        {{jsonObject.name}}
        <p class=btn @click="btnFlag=true" style="border: 1px solid black;">Ver imagenes</p>
        <p class=btn @click="btnFlag=false" style="border: 1px solid black;">Ocultar imagenes</p>
        <br>
        <span v-if="checkedBeers.length > 0">He probado las cervezas: {{checkedBeers}}</span>
        <span v-else> No he probado ninguna cerveza</span>

        <div v-for="beer in jsonObject" class="card" style="background-color: rgb(187, 187, 187);">



                <h1>{{beer.name}}</h1>
                
                <img width="10%" :src="beer.image_url" alt="" v-show="btnFlag">
                <h3>{{beer.tagline}}</h3>
                <p>
                Alcoholic value: {{beer.abv}}
                <br>
                
                <input type="checkbox" :id="beer.name" :value="beer.name" v-model="checkedBeers">
                <label :for="beer.name">He probado {{beer.name}}</label>
                </p>

        </div>
       



        </div>
        
    </div>
</body>


<script>

    const App = new Vue({
        el: '#app',
        data: {
            jsonObject: {},
            btnFlag: true,
            checkedBeers: []
        },
        methods: {
            init() {
                fetch("https://api.punkapi.com/v2/beers")
                    .then(response => response.json())
                    .then(data => (this.jsonObject = data));
            }
        },
        mounted() {
            this.init()
        }
    })
</script>

</html>