<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="Receta.css">

    <title>Sopa de Cebolla</title>
  </head>

  <body>
    <div id="app" class="container">
      <div class="alert alert-info" role="alert">
        <h1 class="alert-heading">{{jsonObject.Nombre}}</h1>
        <!--  CAMPOS SIMPLES -->
          <p>
          <b>Comensales:</b> {{jsonObject.Comensales}}
          </p>  
      </div>
      <div class="contenido">
        <div class="cabecera">
          <h2>Ingredientes</h2>
        </div>
        <div class="botones">
          <button @click="showIngredients" v-if="!mostrarIngredients" class="btn btn-primary">Mostrar más</button>
          <button @click="ocultarIngredients" v-if="mostrarIngredients" class="btn btn-primary">Mostrar menos</button>
        </div>
        <table class="tabla" v-if="mostrarIngredients">
          <thead>
            <tr>
              <th scope="col">Ingrediente</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Unidad</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="Ingredientes in jsonObject.Ingredientes">
              <td>{{Ingredientes.Nombre}}</td>
              <td v-if="Ingredientes.Cantidad == '-'">Al gusto</td>
              <td v-else>{{Ingredientes.Cantidad}}</td>
              <td>{{Ingredientes.Valor}}</td>
            </tr>
          </tbody>
        </table>
       
        <hr>
      
        <div class="cabecera">
          <h2>Proceso</h2>
        </div>
        <div class="botones">
          <button @click="showProceso" v-if="!mostrarProceso" class="btn btn-primary">Mostrar más</button>
          <button @click="ocultarProceso" v-if="mostrarProceso" class="btn btn-primary">Mostrar menos</button>
        </div>

        <ol v-for="Proceso in jsonObject.Proceso" v-if="mostrarProceso">
          <li>{{Proceso.Primero}}</li>
          <li>{{Proceso.Segundo}}</li>
          <li>{{Proceso.Tercero}}</li>
          <li>{{Proceso.Cuarto}}</li>
          <li>{{Proceso.Quinto}}</li>
          <li>{{Proceso.Sexto}}</li>
        </ol>
      </div>
    </div>

    <script>

      const App = new Vue({
        el: '#app',
        data: {
          jsonObject: {},
          mostrarIngredients: true,
          mostrarProceso: false,
        },
        methods: {
            init() {
              fetch("https://raw.githubusercontent.com/miguelrodcar/LDM/master/Miguel/practicas/p-ldm-2-1/Recetas.json")
              .then(response => response.json())
              .then(data => (this.jsonObject = data));
            },
            showIngredients(){
              this.mostrarIngredients = true;
            },
            ocultarIngredients(){
              this.mostrarIngredients = false;
            },
            showProceso(){
              this.mostrarProceso = true;
            },
            ocultarProceso(){
              this.mostrarProceso = false;
            },
        },
        mounted(){
            this.init()
        }
      })
    </script>
  </body>
</html>