.cabecera {
    background-color:#d1ecf1;
    padding: 0.5rem;
    padding-left: 0.7rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #bee5eb;
}
.contenido {
    background-color: #e9f3f5;
}

.titulo {
    font-size: 150%;
    font-weight: bold;
}

.lista {
    list-style: none;
}

a:visited {
    color: cornflowerblue;
}