.cabecera {
    background-color:#d1ecf1;
    padding: 0.5rem;
    padding-left: 0.7rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #bee5eb;
}
.contenido {
    background-color: #e9f3f5;
}

.titulo {
    font-size: 150%;
    font-weight: bold;
}

.lista {
    list-style: none;
}

table {
    margin: auto;
    border: 2px solid #d1ecf1;
    border-radius: 50%;
}
td {
    padding: .5em;
    border: 1px solid rgb(127, 255, 212);
}
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}