@font-face {
    font-family: "monoton";
    src: url("fonts/monoton.woff2");
}

body {
    color: white;
    background-color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.left {
    background: url(img/matrix.png) left repeat-y;
}
.right {
    background: url(img/matrix2.png) right repeat-y;
    background-size: 131px;
}
h1 {
    font-size: 210%;
    letter-spacing: 1rem;
    margin-top: -0.5%;
    color: lawngreen;
    font-family: "monoton";
    text-decoration: underline;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    white-space: nowrap;
}
hr {
    color: lawngreen;
    margin-right: 15%;
    margin-left: 15%;
}
.black {
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.game {
    margin: 1em;
    box-shadow: 0 0 0 4px #fff,
                0 0 0 8px #05c705;
}




table {
    border: 2px solid white;
    margin: 3em;
}
th {
    text-align: left;
    background-color: #05c705;
    letter-spacing: 0.7rem;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 150%;
    border-bottom: 1px solid white;
}

.title {
    color: yellow;
}

.name {
    color: red;
}

.date {
    color: #04b304;
}

address {
    border-top: 2px solid #05c705;
    border-bottom: 2px solid #05c705;
    font-style: normal;
}

.leftxt {
    display: inline;
    float: left;
    
}

.rightxt {
    display: inline;
    float: right;
    overflow: hidden;
}

.imgleft {
    display: inline;
    float: left;
}

.imgright {
    display: inline;
    float: right;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.columnl {
    display: inline-block;
    float: left;
}
.columnr {
    display: inline-block;
    float: right;
}