<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Prueba segunda evaluación</title>
</head>

<body>
    <div id="app" class="container">

        <div v-for="beer in jsonObject">

            <h1>{{beer.name}}</h1>
            <strong><i>{{beer.tagline}}</i></strong>

            <div class="image">
                    <img height="300px" :src="beer.image_url" alt="">
                    <div class="enlace">
                        <a :href="beer.image_url" target="_blank">Imagen Original</a>
                    </div>
            </div>

            {{beer.description}}
            <h4 v-if="beer.ph < 4">Cerveza muy ácida</h4>
            <h4 v-else>Cerveza de acidez media</h4>
            <div class="ingredientes">
                <h2>Ingredientes</h2>
                    <h3>Malts</h3>
                    <ol>
                        <li v-for="malt in beer.ingredients.malt">
                            {{malt.name}} {{malt.amount.value}} {{malt.amount.unit}}
                        </li>
                    </ol>
                    <h3>Hops</h3>
                    <ol>
                        <li v-for="hops in beer.ingredients.hops">
                            {{hops.name}} {{hops.amount.value}} {{hops.amount.unit}}
                        </li>
                    </ol>
                <h3>Yeast</h3>
                    {{beer.ingredients.yeast}}
            </div>
    </div>
    
</body>


<script>

    const App = new Vue({
        el: '#app',
        data: {
            jsonObject: {}
        },
        methods: {
            init() {
                fetch("https://api.punkapi.com/v2/beers?per_page=5")
                    .then(response => response.json())
                    .then(data => (this.jsonObject = data));
            }
        },
        mounted() {
            this.init()
        }
    })
</script>

</html>